header {
    width: 100%;
    min-height: 3vh;
    background-image: url('../Images/BackgroundHeader.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;


    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0rem 1.5rem 8rem;

    img{
        width: 13%;
        height: 40px;
        margin-right: 1rem;
    }

    .nav-links {
        padding-top: 1rem;
        padding-right: 11.7rem;
        a{
            text-decoration: none;
            color: #fff;
            font-weight: 600;
            font-size: 15px;
            padding-right: 2.3rem;
        }

        a:hover{
             background: linear-gradient(to right, #5E3928, #E4A16F);
             background-clip: text;
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             transition: 1s;
             -webkit-transition: 1s;
             -moz-transition: 1s;
             -ms-transition: 1s;
             -o-transition: 1s;
}
    }

    .btn-group {
        display: flex;
        padding-right: 7.5rem;
        margin-top: -2rem;
      a{
        button{
            width: 35px;
            height: 50px;
            border: none;
            margin-left: 0.7rem;
            background-color: #fff;
            padding-top: 1.5rem;
            font-size: 17px;
            cursor: pointer;
} 
      }

    .cart-icon{  
        background: linear-gradient(to right, #5E3928, #E4A16F);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
    }
    .hamburger{
        button{
          display: none;
        }
      }
   }
